# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
# On Mac OS cloning is not supported.
# https://github.com/pnpm/pnpm/issues/5001
# https://pnpm.io/npmrc#package-import-method
package-import-method=copy